<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

<!--    配置自动扫描包-->
<!--    如果是普通的java项目 该beans文件放在src文件下即可,如果是maven项目,beans.xml放在src/resources下-->
<!--    <context:component-scan base-package="com.cus.spring.component"/>-->
<!--    配置后置处理器-->
<!--    <bean id="myBeanProcessor" class="com.cus.spring.process.MyBeanProcessor"  />-->
</beans>